production: &defaults
  host: localhost
  adapter: postgresql
  encoding: unicode
  database: Enbake_Score_production
  pool: 5
  username: enbake
  password: enbake

development:
  <<: *defaults
  database: Enbake_Score_development

test:
  <<: *defaults
  database: Enbake_Score_test
